@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}



.container {
  // padding-top: 2em;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 1.75em;
  padding: 0;
  padding-left: 50px;
  color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro {
  font-size: 1em;
  margin-bottom: 1em;
  color: #989898;
}

.inputValue {
  margin-top: 1em;
  font-size: 1.25em;
}

.inputMedium {
  font-family: "Nunito Sans", Arial, sans-serif;
  background-color: #F5F5F5;
  color: grey;
  border-radius: 5px;
  border: 	#E0E0E0 solid 1px;
  height: 30%;
  width: 170%;
  line-height: 1.58125em;
  padding-left: 5px;
  // text-align: left;
  // justify-content: flex-start;
  margin-bottom: 1.2em;
}

.button {
  font-family: "Nunito Sans", Arial, sans-serif;
  background-color: grey;
  color: white;
  font-weight: 400;
  height: 2.5em;
  border-radius: 5px;
  border: grey solid 1px;
}


.titleDiary {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // text-align: center;
}


.icon {
  height: 1em;
  width: 1em;
  padding-left: 120px;
  padding-bottom: 15px;
  opacity: 0.8;
}
